/* Home Section */
#all-user-section {
    min-height: 100vh;
}

.search-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display-users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.get-users {
    color: var(--secondary-color-1);
    padding: 2rem;
    box-shadow: var(--box-shadow-2);
    border-radius: 2px;
}

.get-users i {
    color: var(--primary-color-1);
}

.avatar {
    background-color: var(--primary-color-1);
    color: var(--white);
    padding: 0.5rem 0.7rem;
    font-size: 1.3rem;
    border-radius: 2px;
}

/* For User Search */
.input-box {
    position: relative;
    height: 60px;
    max-width: 900px;
    width: 50%;
    background: var(--white);
    margin: 5px 20px 0;
    border-radius: 8px;
    border: 2px solid var(--search-border-color);
    transition: var(--transition-1);
}

.input-box:focus-within {
    border-color: var(--primary-color-1);
    box-shadow: var(--box-shadow-3);
}

.input-box i,
.input-box .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.input-box i {
    left: 20px;
    font-size: 30px;
    color: var(--search-icon-color);
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    border: none;
    padding: 0 155px 0 65px;
    background-color: transparent;
}

.input-box .button {
    right: 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    border: none;
    padding: 15px 20px;
    border-radius: 2px;
    background-color: var(--primary-color-1);
    cursor: pointer;
}

.input-box .button:active {
    transform: translateY(-50%) scale(0.98);
}

/* Display Users Section */
/* part-1 info */
.part1-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part1-info>div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.part1-info i {
    font-size: 1.5rem;
    margin-left: 5px;
}

.part1-info>.contact-info>p {
    display: flex;
    align-items: center;
}

/* part-2 info */
.part2-info {
    margin: 15px auto;
}

.part2-info i {
    font-size: 1.3rem;
    margin-right: 10px;
}

.part2-info>p {
    display: flex;
    align-items: center;
}

/* part-3 info */
.part3-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.part3-info span {
    color: var(--primary-color-1);
    margin-right: 8px;
}

/* part-4 btns */
.part4-btns {
    margin-top: 10px;
    display: flex;
    justify-content: end;
}

.part4-btns>button {
    background: transparent;
    padding: 5px 10px;
    cursor: pointer;
    transition: var(--transition-1);
    border-radius: 2px;
    font-size: 0.9rem;
}

#edit {
    background-color: var(--primary-color-1);
    color: var(--white);
    border: none;
}

#edit:hover {
    background-color: var(--secondary-color-2);
}

#delete {
    border: 2px solid var(--red-dark);
    color: var(--red-dark);
}

#delete:hover {
    background-color: var(--red-dark);
    color: var(--white);
}

/* Edit Form */
form {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

form>.first-type {
    display: flex;
    flex-direction: column;
}

.first-type>label {
    margin-bottom: 5px;
}

.first-type>input {
    padding: 5px 10px;
    border: 2px solid var(--secondary-color-1);
    border-radius: 2px;
}

.first-type>input[type="date"] {
    padding: 4px 10px;
    width: 100% !important;
}

.second-type>select {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 4px 10px;
    border: 2px solid var(--secondary-color-1);
    border-radius: 2px;
}

.third-type {
    margin: 1.5rem 0 1rem;
}

.third-type>button {
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: var(--transition-1);
}

.third-type>button#saveChanges {
    color: var(--primary-color-1);
    border: 2px solid var(--primary-color-1);
}

.third-type>button#saveChanges:hover {
    background-color: var(--primary-color-1);
    color: var(--white);
}

.third-type>button#cancelEdit {
    color: var(--secondary-color-1);
    border: 2px solid var(--secondary-color-1);
    margin-left: 5px;
}

.delete-btns {
    margin: 1.5rem 0 0.7rem;
}

#user-name-div {
    color: var(--secondary-color-1) !important;
}

.delete-btns>button {
    background: transparent;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    cursor: pointer;
    transition: var(--transition-1);
}

.delete-btns>button#confirmDelete {
    color: var(--red-dark);
    border: 2px solid var(--red-dark);
}

.delete-btns>button#confirmDelete:hover {
    background-color: var(--red-dark);
    color: var(--white);
}

.delete-btns>button#cancelDelete {
    color: var(--secondary-color-1);
    border: 2px solid var(--secondary-color-1);
    margin-left: 5px;
}

/* Get the Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--modal-background);
}

#editModal>.modal-content {
    background-color: var(--modal-content-background);
    margin: 70px auto;
    padding: 20px;
    border: 1px solid var(--modal-border-color);
    width: 80%;
}

#deleteModal p {
    color: var(--red-dark);
}

#deleteModal>.modal-content {
    background-color: var(--modal-content-background);
    margin: 140px auto;
    padding: 20px;
    border: 1px solid var(--modal-border-color);
    width: 400px;
}

.close {
    color: var(--modal-close-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: var(--secondary-color-1);
    text-decoration: none;
    cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 1170px) {
    #display-users {
        grid-template-columns: 1fr 1fr;
    }

    form {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 774px) {
    .input-box {
        height: 55px;
        width: 80%;
    }

    .input-box i {
        left: 12px;
        font-size: 25px;
    }

    .input-box input {
        padding: 0 112px 0 50px;
    }

    .input-box .button {
        right: 12px;
        font-size: 14px;
        padding: 8px 18px;
    }

    #display-users {
        grid-template-columns: 1fr;
    }

    form {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .get-users {
        color: var(--secondary-color-1);
        padding: 1.5rem;
        margin: 0 0.8rem;
        box-shadow: var(--box-shadow-2);
        border-radius: 2px;
    }

    .input-box {
        height: 50px;
        width: 100%;
    }

    #deleteModal>.modal-content {
        width: 70%;
    }
}