#loaderContainer {
    height: 100vh;
}

.data-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 2px;
}

.data-loader>div:last-child {
    position: relative;
    width: 80px;
    height: 15px;
    margin: 1em auto;
}

.data-loader>div:last-child>div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--secondary-color-1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.data-loader>div:last-child>div:nth-child(1) {
    left: 8px;
    animation: var(--data-loader-1);
}

.data-loader>div:last-child>div:nth-child(2) {
    left: 8px;
    animation: var(--data-loader-2);
}

.data-loader>div:last-child>div:nth-child(3) {
    left: 32px;
    animation: var(--data-loader-2);
}

.data-loader>div:last-child>div:nth-child(4) {
    left: 56px;
    animation: var(--data-loader-3);
}

@keyframes data-loader-1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes data-loader-2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

@keyframes data-loader-3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}