<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In Page</title>
</head>

<body>
    <div class="container">
        <img class="signin-logo" src="../img/logo.png" alt="logo" width="200" height="auto">
        <div class="sign-in">
            <img src="../img/image-placeholder.png" alt="img-placeholder">
            <h2>Member Login</h2>
            <form action="" method="" onsubmit="setData(event)">
                <label for="uname"><b>Username</b></label>
                <input id="uname" type="text" placeholder="Enter Username" name="uname" required>
                <label for="pwd"><b>Password</b></label>
                <input id="pwd" type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Toast container -->
    <div id="toast" class="toast hide"></div>
</body>

</html>